.btncolor {
    background-color: #0d47a1 !important;
    color: white;
}

.textSize {
    font-size: 1.2rem !important;
}

.navbaground {
    
    background-color: #0d47a1;
    color: white;
    
}
