
.navbaground {
    
    background-color: #0d47a1;
    color: white;
    
}

.moveLeftNav {
    
    margin-right: 20px;
}

.textSize {
    font-size: 1.2rem;
}

.cards{

}








.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    height: 200px;
}

.container {
    
    margin-left: 0px;
    margin-right: 0px;
}

a {
    text-decoration: none !important;
}

.card:hover{
    
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    
}
